@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ------- HEADER -------- */
.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  max-width: 1170px;
  max-height: 80px;
  margin-left: 215px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

.logo__span {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item {
  position: relative;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}
.site-nav__link--active::after {
  opacity: 1;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}
.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}
.contact-nav__link {
  display: flex;
  align-items: center;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

/* ----- HERO ------- */
.hero-section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.2)), url(../images/img14.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.quality-list {
  display: flex;
}
.quality-list__item:not(:last-child) {
  margin-right: 30px;
}
.quality-list__icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.quality-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.section-business {
  padding-top: 0;
}
.section-business__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}
.business-list__item {
  margin-right: 30px;
}
.business-list__item:last-child {
  margin-right: 0;
}
.business-list__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}
.business-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ----- TEAM ----- */
.section-team {
  background: #f5f4fa;
}
.section-team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list__item {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
  /* margin-left: 32px; */
}
.team-list__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.icon-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin-right: 32px;
  margin-left: 32px;
  /* .icon-list__link */
}
.icon-list__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.icon-list__item:last-child {
  margin-right: 0px;
}
.icon-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list__svg {
  fill: currentColor;
}
.icon-list__link:hover, .icon-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* -----CUSTOMERS----- */
.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.customers-list {
  display: flex;
  /* .item-icon */
}
.customers-list__item {
  /* display: flex; */
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.customers-list__item:last-child {
  margin-right: 0px;
}
.customers-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__icon {
  fill: currentColor;
}
.customers-list__link:hover, .customers-list__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/* -----FOOTER----- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contaner {
  display: flex;
}

.footer__logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--inverse:hover,
.logo--inverse:focus {
  color: #2196f3;
}

.address-footer {
  width: 231px;
}

/* footer-item */
.address-list__item {
  margin-bottom: 9px;
}

.address-list__item:last-child {
  margin-bottom: 0px;
}

.address-list__link {
  color: var(--footer-link);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link--color {
  color: #ffffff;
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}

.footer-icon {
  display: block;
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-list--footer {
  margin-left: 0;
  margin-right: 0;
}

.icon-list__link--bg {
  background: rgba(255, 255, 255, 0.1);
}

.icon-list__svg--color {
  fill: white;
  color: #ffffff;
}

.footer-form {
  margin: 0;
  padding: 0;
  margin-left: 93px;
  margin-top: 12px;
  width: auto;
}
.footer-form__bold {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-field {
  display: flex;
}
.footer-field__input {
  padding: 15px 155px 15px 16px;
  outline: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-field__input input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-field:focus-within .footer-field__input {
  outline: 1px solid #2196f3;
}
.footer-field__icon {
  position: absolute;
  top: 13px;
  left: 148px;
}

.button--footer {
  position: relative;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  width: 200px;
}

/* --------- PORTFOLIO --------- */
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}
.portfolio-list__item + .portfolio-list__item {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.01);
}

.list-images {
  display: flex;
  flex-wrap: wrap;
}
.list-images__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-images__img {
  display: block;
}
.list-images__item:nth-child(3n) {
  margin-right: 0;
}
.list-images__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.list-images__item:hover, .list-images__item:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-images__thumb {
  position: relative;
  overflow: hidden;
}
.list-images__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-images__link:hover .list-images__overlay, .list-images__link:focus .list-images__overlay {
  transform: translateY(0);
}
.list-images__border {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}
.list-images__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-images__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* МОДАЛЬНЕ ВІКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  /* 100% */
  min-height: 100%;
  /* 100% */
  /* 100% */
  background-color: rgba(0, 0, 0, 0.2);
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* transform: translate(-50%, -50%) scale(1); */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*scale(0)*/
  /* transition: transform 2500 cubic-bezier(0.4, 0, 0.2, 1); */
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background: #ffffff;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.1);
}
.button-modal__icon {
  color: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal__icon:hover {
  fill: #2196f3;
}

.modal-form {
  width: 100%;
  padding: 40px;
}
.modal-form__bold {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field:focus-within .modal-form__input {
  outline: 1px solid #2196f3;
}
.modal-form__field:focus-within .modal-form__icon {
  fill: #2196f3;
}
.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field:focus-within .modal-comment {
  outline: 1px solid #2196f3;
  color: #212121;
}

.modal-comment {
  /* margin: 12px 16px; */
  margin-bottom: 20px;
  padding-top: 11px;
  padding-left: 11px;
  padding-bottom: 11px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  resize: none;
  /* max-height: 200px; */
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  display: flex;
  margin-left: 12px;
  margin-bottom: 30px;
  align-items: center;
  width: 423px;
  height: 24px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
.modal-box__label {
  display: flex;
  align-items: center;
}
.modal-box__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.modal-box__icon {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box__checkbox:checked + .modal-box__icon {
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #2196f3;
  background-origin: border-box;
}
.modal-box__link {
  display: block;
  padding-left: 10px;
  color: #2196f3;
}

.button--modal {
  margin-left: 124px;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}/*# sourceMappingURL=main.css.map */