html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import './utils/variables';

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@import './components/page-header';

@import './components/hero';

@import './components/quality';

@import './components/business';

@import './components/team';

@import './components/customers';

@import './components/footer';

@import './components/portfolio';

@import "./components/modal";

