.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.quality-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
