/* ----- TEAM ----- */

.section-team {
  background: #f5f4fa;

  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 270px;
    height: 428px;

    background-color: $special-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__thumb {
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-left: 32px; */
  }

  &__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.icon-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin-right: 32px;
  margin-left: 32px;

  &__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
  }

  &__item:last-child {
    margin-right: 0px;
  }

  /* .icon-list__link */
  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #afb1b8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $special-text-color;
    background-color: $accent-color;
  }
}
