 $primary-text-color: #757575;
 $title-text-color: #212121;
 $accent-color: #2196f3;
 $logo-first-color: #000000;
 $bg-color: #2f303a;
 $special-text-color: #ffffff;
 $footer-link-color: rgba(255, 255, 255, 0.6);


//  кількість елементів у ряду
 $mobile_col: 1;
 $tablet_col: 2;
 $desctop_col: 4;
